/* ------------------------------------------------------------------- HERO SECTION ------------------------------------- */
.main-container {
    display: flex;
    flex-direction: row;
    padding-inline: 120px;
    justify-content: space-between;
    align-items: center;
    gap: 48px; /* Mais espaçamento entre o conteúdo e a imagem */
    flex-wrap: wrap; /* Permite que os elementos se reorganizem em telas menores */
    background-color: rgba(33, 44, 66, 1);
    padding-bottom: 50px;
}

.content-container {
    display: flex;
    flex-direction: column;
    max-width: 670px; /* Limita a largura do conteúdo */
    flex: 1; /* Permite que o conteúdo ocupe o restante do espaço */
}

.content-container h1 {
    font-size: 93px;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-bottom: 0px;
    color: white;
}

.content-container p {
    font-size: 18px;
    color: rgb(177, 177, 177);
    margin: 0;
    margin-bottom: 30px;
    padding-bottom: 12px;
}


.lets-coop {
    display: flex;
    padding: 30px ;
    
    flex-direction: row;
    margin-inline: 250px;
    color: white;
    border-radius: 30px;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px;
    
    background-color: #e64eeb;
    color: #ffffff;
}

button:hover {
    background-color: rgba(230, 78, 235, 0.63);
}
/* ------------------------------------------------------------------- SECTION 2 ------------------------------------- */

.second-section {
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    padding-inline: 120px;
    justify-content: space-between;
    align-items: center;
    gap: 48px; /* Mais espaçamento entre o conteúdo e a imagem */
    flex-wrap: wrap; /* Permite que os elementos se reorganizem em telas menores */
    background-color: white;
}
    
.second-content-container {
    display: flex;
    flex-direction: column;
    max-width: 670px; /* Limita a largura do conteúdo */
    flex: 1; /* Permite que o conteúdo ocupe o restante do espaço */
    background-color: white;
}
.info {
    display: flex;
    margin-inline: 250px;
    justify-content: center;
    margin-bottom: 30px;
    background-color: rgba(33, 44, 66, 1);
}
.text-content {
    font-size: 20px;
}
.section-image {
    background-color: white;
}
img {
    width: 100%; /* Garante que a imagem ocupe o máximo de largura possível sem ultrapassar o espaço disponível */
    max-width: 500px; /* Limita a largura máxima da imagem */
    height: auto;
}

/* ------------------------------------------------------------------- RESPONSIVIDADE ------------------------------------- */
@media (max-width: 768px) {
    .main-container {
        display: flex;
        flex-direction: column-reverse; /* Torna o layout vertical em telas menores */
        justify-content: center;
        padding-inline: 0;
    }
 

    .content-container {
      
    }

    .content-container h1 {
        font-size: 36px; /* Reduz o tamanho do título em telas menores */
    }

    .content-container p {
        font-size: 16px; /* Ajusta o tamanho do parágrafo */
    }
    
}
