button {
    display: flex;
    padding: 12px 24px;
    font-size: 20px;
    background-color: #e64eeb;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 500px;
    transition: background-color 0.3s;
    align-items: center;
    gap: 8px;
}

.botao:hover {
   background-color: purple;
}
.icon {
    background-color: transparent;
    width: 25px;
}