.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 52px;
    background-color: rgba(33, 44, 66, 1);
    margin: 0;
}
.header-container h1{
    margin: 0;
    color:white;
    font-size: 96px;
    letter-spacing: 6px;
    text-transform: uppercase;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
ul {
    display: flex;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
li {
    display: flex;
    color: white;
    font-size: 30px;
    align-items: center;
}
@media (max-width: 768px) {
    .main-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .header-container h1 {
        font-size: 50px;
    }
    .content-container {
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        margin-right: 100px;
        align-items: center;
    }
    ul {
     font-size: 30px;
    }
    li {
        font-size: 20px;
    }
}
