.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 52px;
}
.header-container h1{
    margin: 0;
    color:white;
    font-size: 96px;
    letter-spacing: 6px;
    text-transform: uppercase;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
ul {
    display: flex;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
li {
    color: white;
    font-size: 42px;
}
